/* Gør at baggrunden altid fylder hele vinduet */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222; /* Mørk baggrund så du kan se hvis noget går galt */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: #000; /* Selve spilfeltet */
    display: block;
}
